#header {
    background-color: #0B7B31;
    box-shadow: 4px 4px 5px rgba(5, 5, 5, 0.4);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

.logo-img {
    width: auto;
    height: 50px;
    object-fit: cover;
}

body {
    background-color: #F4F4F4;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* .main {
    
  } */

/******** BEGIN OF SIDE-NAVBAR ********/
.side-navbar {
    position: fixed;
    left: 0;
    padding-top: 70px;
    height: 100vh;
    width: 300px;
    background: #0E5025;

    transition: 0.5s ease;
    /* box-sizing: border-box; */
    color: white;
    z-index: 100;
}

.account {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: none;

    >h2 {
        font-weight: 600;
        font-size: 25px;
        margin: 0;
    }

    >p {
        margin-top: 5px;
        font-size: 15px;
    }
}

.menu {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu li {
    width: calc(100% - 10px);
    margin: 0 auto;
    padding: 15px 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu .menu-icon {
    width: 30px;
    font-size: 22px;
    height: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.menu .menu-text {
    margin-left: 1px;
    font-size: 18px;
    font-weight: 600;
}

.menu li:hover {
    width: calc(100% - 10px);
    margin: 0 auto;
    border-radius: 10px;
    background: #BDF3CF;
}

.menu li:hover .menu-text {
    font-size: 18px;
    font-weight: 700 !important;
    color: #0E5025;
}

.menu li:hover .menu-icon {
    color: #0E5025;
}

@media (max-width: 1620px) {
    .side-navbar {
        width: 60px;
    }

    .side-navbar:hover {
        width: 300px;
    }

    .account {
        display: none;
    }
}

/********* END OF SIDE-NAVBAR *********/

/********* BEGIN OF CONTENT *********/
.content {
    position: absolute;
    left: 320px;
    top: 80px;
    width: calc(100% - 340px);
    box-sizing: border-box;
}

/* PAGE TITLE */
.content .title-container {
    color: #0B7B31;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.content .title-container .title-icon {
    width: 30px;
    font-size: 22px;
    height: 30px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.content .title-container .title-text h1 {
    margin-left: 1px;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    padding: 0;
    margin: 0;
}

/* STATISTICS */
.statistic-container {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* min-width: 810px; */
}

.statistic-card {
    display: inline-flex;
    /* display: flex; */
    width: calc((100% - 20px) / 3);
    height: 65px;
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(5, 5, 5, 0.3);
}

.statistic-icon {
    background-color: grey;
    width: 65px;
    height: 65px;
    color: white;
    text-align: center;
    line-height: 65px;
    font-size: 30px;
    border-radius: 10px 0 0 10px;
    display: inline-block;
}

.statistic-content {
    height: 60px;
    width: calc(100% - 60px);
    border-radius: 0 10px 10px 0;
    padding: 5px 0;
    padding-left: 10px;
}

.statistic-content .statistic-text {
    font-size: 18px;
    font-weight: 600;
    color: #7E94AB;
    margin: 0;
    padding: 0;
}

.statistic-content .statistic-number {
    font-size: 30px;
    font-weight: 700;
    color: grey;
    margin: 0;
    margin-top: -2px;
    padding: 0;
}

#district-statistic {
    .statistic-icon {
        background-color: #0B247B;
    }

    .statistic-number {
        color: #0B247B;
    }
}

#ward-statistic {
    .statistic-icon {
        background-color: #790B7B;
    }

    .statistic-number {
        color: #790B7B;
    }
}

#officer-statistic {
    .statistic-icon {
        background-color: #0E5025;
    }

    .statistic-number {
        color: #0E5025;
    }
}

#location-statistic {
    .statistic-icon {
        background-color: #EB8D00;
    }

    .statistic-number {
        color: #EB8D00;
    }
}

#ad-statistic {
    .statistic-icon {
        background-color: #DF39D8;
    }

    .statistic-number {
        color: #DF39D8;
    }
}

/* START OF TABLE */
.table-wrap {
    width: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(5, 5, 5, 0.3);
    background-color: white;
    padding: 15px 20px;
    box-sizing: border-box;
    min-width: 580px;
    margin: 20px 0;
    /* overflow: hidden; */
}
.table-wrap.general {
    max-width: 700px;
}

.table-wrap table {
    width: 100%;
    border-collapse: collapse;
}

.table-wrap caption {
    font-size: 20px;
    font-weight: 700;
    color: #0B7B31;
    text-align: left;
}

.table-wrap thead {
    color: #0B7B31;
}

.table-wrap th, .table-wrap td, .table-wrap .add-item {
    padding: 5px 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.table-wrap td {
    color: #7E94AB;
    text-align: left;
}
.table-wrap tbody tr:hover {
    background-color: #BDF3CF;
    cursor: pointer;
}
.table-wrap td.id {
    text-align: center;
    width: 40px;
}
/* END OF TABLE */

/* START OF FORM */
.popup-edit {
    position: fixed;
    top: calc(50vh - 145px);
    left: calc(50vw - 270px);
    width: 500px;
    height: 250px;
    background-color: white;
    z-index: 999;
    /* display: none; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 4px 4px 5px rgba(5, 5, 5, 0.3);
}
.popup-edit legend {
    font-size: 20px;
    font-weight: 700;
    color: #0B7B31;
    text-align: left;
}
.popup-edit .input-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}
.popup-edit label {
    font-size: 18px;
    font-weight: 600;
    color: #0B7B31;
    margin-bottom: 10px;
    font-style: none;
}
.popup-edit input {
    font-size: 18px;
    font-weight: 500;
    color: #7E94AB;
    /* border-radius: 5px; */
    border: 0;
    border-bottom: 1px solid #7E94AB;
    outline: none;
    padding: 5px 0;
}
.popup-edit .edit-icon {
    color: #7E94AB;
    position: absolute;
    right: 0;
    top: 35px;
    font-size: 22px;
}
/* END OF FORM */

@media (max-width: 1620px) {
    .content {
        left: 80px;
        width: calc(100% - 100px);
    }
}
/********* END OF CONTENT *********/