html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    font-family: Montserrat;
    background-color: #F8F9FA;
    font-size: 0.9rem;
    font-weight: 500;
}

#loading-bg{
    width: 100vw;
    height: 100%;
    background-color: rgba(2, 18, 4, 0.4);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    color: white;
  }
  
  #loading-bg img{
    width: 6%;
    /* object-fit: cover; */
    /* display: inline-block;
    z-index: 6;
    background-image: url('../../public/image/loading-gif.gif');
    background-size: cover; */
  }

/* #header {
    background-color: #0B7B31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    flex-wrap: wrap;
    height: fit-content;
    position: fixed;
    width: 100%;
    z-index: 10;
} */

.logo-link {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo-img {
    width: fit-content;
    align-items: flex-start;
    height: 2.5rem;
    margin: 0.5rem 1rem 0.5rem 2rem;
}

/* headerNgDan */
#headerNgDan {
    background-color: #0B7B31;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    flex-wrap: wrap;
    height: fit-content;
    position: fixed;
    padding: 0 0.5rem;
    width: 100%;
    z-index: 10;
    /* display: none; */
}

#headerNgDan .flex-container {
    width: 100%;
    display: flex;
    direction: row;
    align-items: center;
}

#headerNgDan .flex-container a {
    margin: 0 1rem;
}

#headerNgDan .flex-container input {
    width: 20rem;
}


.search-address {
    min-width: 8rem;
    width: 20rem;
    position: relative;
    margin-bottom: 0.3rem;
}

.search-address-bar:focus-within,
.search-address-bar:focus,
.search-address-bar:hover {
    box-shadow: none;
    border: none;
}

.resultapi-address {
    min-width: 8rem;
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 1rem 1rem;
    z-index: -1;
    /* display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 0.5rem; */
    background-color: white;
    border-radius: 1.5rem;
    /* margin: 0 1rem; */
}


.select-ward-bar,
.search-address-bar {
    width: 100%;
    background-color: white;
    height: fit-content;
    padding: 0.3rem 1rem 0.3rem;
    border-radius: 0.5rem;
    color: #867F7F;
    cursor: pointer;
    z-index: 2;
    font-size: 0.9rem;
    border: none;
}

hr {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    width: 95%;
    left: 2.5%;
}

.homepageNgDan {
    height: calc(100% - 3.5rem);
    position: absolute;
    top: 3.5rem;
    /* background-color: #0B7B31; */
}

.homepageNgDan #map {
    height: 100%;
    width: 100vw;
    z-index: 0;
    position: fixed;
}

.mapboxgl-popup-tip {
    display: none;
}

.popup-content {
    font-family: Montserrat;
}

.popup-content p {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.popup-content img {
    width: 100%;
    margin-top: 5%
}

#sidebar {
    height: 100%;
    /* height: fit-content; */
    /* width: 0; */
    width: 28%;
    min-width: 20rem;
    max-width: 20rem;
    left: 0;
    position: fixed;
    top: 3.5rem;
    background-color: white;
    overflow-x: hidden;
    transition: 0.2s;
    z-index: 1;
}

#sidebar .adInfo {
    background-color: #C7EBFF;
    color: #05ACF4;
    padding: 0.8rem;
    border-radius: 0.5rem;
    margin: 0.8rem;
}

#sidebar .adInfo>div {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    position: relative;
    margin-bottom: 0.8rem;
}

#sidebar .adInfo>div p {
    margin-bottom: 0rem;
}

#sidebar .locInfo {
    background-color: #BDF3CF;
    color: #0B7B31;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;

}

#sidebar .locInfo .data p {
    margin: 0.2rem;
    color: black;
    font-size: 0.8rem;
}

/* switch */
.homepageNgDan .flex-container {
    background-color: white;
    position: absolute;
    z-index: 99;
    bottom: 0;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    border-radius: 0 1rem 0 0;
    display: flex;
    gap: 0.5rem;

}

span#sub {
    vertical-align: middle;
    white-space: nowrap;
    /* margin-right: 5%; */
}

.switch {
    position: relative;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 20%;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider#switch1 {
    background-color: #2196F3;
}

input:checked+.slider#switch2 {
    background-color: red;
}

input:checked+.slider#switch3 {
    background-color: purple;
}

input:checked+.slider:before {
    -webkit-transform: translateX(165%);
    -ms-transform: translateX(165%);
    transform: translateX(165%);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    /* display: block; */
    z-index: 3;
}

.adInfo .popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.locInfo .popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#myReport .popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#success_message {
    display: none;
}

.my-report {
    background-color: #BDF3CF;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.others-report {
    background-color: gray;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}



.button-group {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    margin-top: 3%;
}

.btn {
    font-size: 0.8rem;
    padding: 0.2rem 0.3rem;
}

.style1-button,
.style1-button:hover,
.style1-button:focus {
    background-color: #0B7B31;
    color: white;
    box-shadow: none;
}

.style2-button,
.style2-button:hover,
.style2-button:active,
.style2-button:focus,
.style2-button:focus-within {
    background-color: #BDF3CF;
    color: #0B7B31;
    box-shadow: none;
}

.style3-button,
.style3-button:hover,
.style3-button:focus {
    background-color: #BC0F24;
    color: white;
    box-shadow: none;
}

.detail-button {
    color: lightgray;
    font-size: 1.3rem;
    position: absolute;
    top: 3.5%;
    right: 5%;
    cursor: pointer
}

.modal-header {
    justify-content: center;
    border: none;
    padding-bottom: 0
}

.modal-body {
    padding-top: 0;
    border: none;
    padding-bottom: 0
}

#detail-popup .image img {
    width: 100%;
    margin: 0rem auto 1rem;
}

#report-popup label {
    margin-top: 0.5rem;
    font-size: 0.8rem
}

label.required::after {
    content: " *";
    color: red;
}

.form-control,
.form-select,
.form-control-file {
    font-size: 0.85rem
}

.form-control:focus,
.form-control:hover,
.form-select:focus,
.form-select:hover {
    box-shadow: 0 0 0 0.2rem rgba(11, 123, 49, 0.25);
    border-color: #0B7B31;
}

.form-control-file {
    margin-top: 0.7rem;
}

.modal-footer {
    justify-content: space-around;
    border: none;
    padding-top: 0
}

.other-report,
.mine-report {
    background-color: #BDF3CF;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    width: 95%;
    padding: 0.9rem 0.5rem 0.5rem;
    margin: 0.5rem auto 1rem;
}

.other-report {
    background-color: #d9d9d9;
}

#other-report-popup .col-md-12,
#my-report .col-md-12 {
    display: flex;
    justify-content: end;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

#my-report .col-md-12.location {
    display: block
}

#other-report-popup .view-image,
#my-report .view-image {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}

.view-image img {
    width: 50%;
    border-radius: 0.3rem;
}

#other-report-popup .resolved,
#my-report .resolved {
    background-color: #0B7B31;
}

#other-report-popup .resolved,
#other-report-popup .unresolved,
#other-report-popup .report-type,
#my-report .resolved,
#my-report .unresolved,
#my-report .report-type,
#my-report .report-cate {
    color: white;
    display: inline-block;
    padding: 0.15rem 0.5rem;
    border-radius: 0.2rem;
}

#other-report-popup .unresolved,
#my-report .unresolved {
    background-color: #BC0F24;
}

#other-report-popup .report-type,
#my-report .report-type {
    background-color: #05ACF4;
}

#my-report .report-cate {
    background-color: #6b1111;
}

.other-symbol i {
    color: #D9D9D9;
}

.mine-symbol i {
    color: #BDF3CF;
}

.close-button {
    background-color: lightgray;
    float: inline-end;
    margin-right: 1rem;
    margin-bottom: 1rem;
    box-shadow: none;
}

#myPosButton {
    position: absolute;
    z-index: 99;
}

.markerCurentPos {
    width: 14px;
    /* Marker width */
    height: 14px;
    /* Marker height */
    border-radius: 50%;
    /* Make it a circle */
    background-color: #4285f4;
    /* Google Maps blue dot color */
    border: 2px solid #fff;
    /* Marker border */
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
    /* Add a subtle shadow */
}

#myPosButton {
    position: fixed;
    bottom: 20px;
    /* Adjust the distance from the bottom */
    right: 20px;
    /* Adjust the distance from the right */
}

#myPosButton button {
    /* Add any additional styles for your button */
    padding: 5px 10px;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
    /* Add a subtle shadow */
}