<%- include("../../partial/header"); %>
<%- include("../../partial/tableQuanPhuong"); %>
<%- include("../../partial/navbar"); %>
    <div class="title-page">
        <i class="fa-solid fa-house"></i>
        Quản lý bảng quảng cáo
    </div>
    <div class = "ward-table"></div>

    <!-- <div id = "ads-location-table"></div> -->
    <table id="example" class="table ads-table" style="width:100%">
        <thead>
            <tr>
                <th class = "caption" colspan="8">Danh sách bảng quảng cáo</th>
            </tr>
            <tr>
                <th>ID Quảng cáo</th>
                <th>Loại bảng quảng cáo</th>
                <th>Địa chỉ</th>
                <th>Loại vị trí</th>
                <th>Kích thước</th>
                <th>Số lượng</th>
                <th>Ngày hết hạn</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  
    <div class="modal fade" id="view-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <!-- <div class="modal-body"> -->
                <img class = "photo" src = ""></img>
            <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-info" tabindex="-1" role="dialog" aria-labelledby="edit-request" 
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">YÊU CẦU CHỈNH SỬA THÔNG TIN</h5>
            </div>
        <div class="modal-body">
            <form class="needs-validation row" novalidate>
                <div class="col-md-6">
                    <div class=" col-md-12">
                        <label for="search" class="col-form-label">Điểm đặt </label>
                        <input type="text" class="form-control" id="address" value = "" readonly>
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <label for="id_board_type" class="col-form-label">Loại bảng quảng cáo</label>
                            <select id="id_board_type" class="form-select" aria-label="Default select example">
                                <option value="" selected>(Trống)</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="expired_date" class="col-form-label">Ngày hết hạn</label>
                            <input type="date" class="form-control" id="expired_date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="width" class="col-form-label">Kích thước chiều dài (m)</label>
                            <input type="text" class="form-control" id="width">
                        </div>
                        <div class="col-md-6">
                            <label for="height" class="col-form-label">Kích thước chiều rộng (m)</label>
                            <input type="text" class="form-control" id="height">
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-md-6">
                            <label for="quantity" class="col-form-label">Số lượng</label>
                            <input type="text" class="form-control" id="quantity">
                        </div>
                        <div class=" col-md-6">
                            <label for="photo" class="col-form-label">Hình ảnh minh họa</label>
                            <input type="file" class="form-control" id="photo" accept = "image/jpeg, image/png">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="reason" class="col-form-label required">Lí do chỉnh sửa</label>
                        <input type="text" class="form-control" id="reason" required>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <div class="col-md-6 mt-3 choose-location">
                    <div class="header-map">
                        <label for = "search" class = "col-form-label">Nhấn chọn điểm đặt</label>    
                    </div>
                    <div class="col-md-12 map" id = "map"> </div>
                </div>
            <!-- </div> -->
                <div class="modal-footer col-md-12">
                    <button type="button" class="btn style3-button" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn style1-button">Xác nhận</button>
                </div>
            </form>
        </div>
        
        
        </div>
    </div>
    </div>

<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/ads.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/renderWard.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/tableQuanPhuong.js"></script> 

</body>
</html>