<%- include("../../partial/header"); %>
<%- include("../../partial/tableQuanPhuong"); %>
<%- include("../../partial/navbar"); %>
    <div class="title-page">
        <i class="fa-solid fa-house"></i>
        Quản lý bảng quảng cáo
    </div>
    <div class = "ward-table"></div>

    <div class="create-ads">
        <button id="createLicenseButton" class="btn style1-button" data-toggle="modal" data-target="#create-license">
            Tạo cấp phép quảng cáo
        </button>
    </div>

    <div class="modal fade" id="create-license" tabindex="-1" role="dialog" aria-labelledby="create-license-title" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">CẤP PHÉP BẢNG QUẢNG CÁO MỚI</h5>
            </div>
        <div class="modal-body">
            <form class="row form-create needs-validation">
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <label for="id_board_type_create" class="form-label required">Loại bảng quảng cáo</label>
                            <select id="id_board_type_create" class="form-select" required>
                                <option class = "default" selected>(Trống)</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-md-9">
                        <label class="form-label required" for="id_ads_location">Điểm đặt</label>
                        <div class="input-group">
                            <button type="button" data-target="#choose-adsloc" data-toggle="modal" class="btn style1-button">Chọn điểm đặt</button>
                            <input type="text" class="form-control" id="id_ads_location" value = "" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="width_create" class="form-label required">Kích thước chiều dài (m)</label>
                        <input type="number" class="form-control" id="width_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="height_create" class="form-label required">Kích thước chiều rộng (m)</label>
                        <input type="number" class="form-control" id="height_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="quantity_create" class="form-label required">Số lượng</label>
                        <input type="number" class="form-control" id="quantity_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="photo_create" class="form-label ">Hình ảnh minh họa</label>
                        <input class="form-control" type="file" id="photo_create" accept = "image/jpeg, image/png">
                        </div>
                    <div class="col-12">
                        <label for="content_create" class="form-label required">Nội dung quảng cáo</label>
                        <input type="text" class="form-control" id="content_create" required>
                    </div>
                    <div class="col-md-6">
                        <label for="company_create" class="form-label required">Công ty</label>
                        <input type="text" class="form-control" id="company_create" required>
                    </div>
                    <div class="col-md-6">
                        <label for="address_create" class="form-label required">Địa chỉ công ty</label>
                        <input type="text" class="form-control" id="address_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="email_create" class="form-label required">Email công ty</label>
                        <input type="email" class="form-control" id="email_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="phone_create" class="form-label required">Số điện thoại công ty</label>
                        <input type="phone" class="form-control" id="phone_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="start_date_create" class="form-label required">Ngày bắt đầu hợp đồng</label>
                        <input type="date" class="form-control" id="start_date_create" required>
                    </div>
                    <div class="col-md-3">
                        <label for="end_date_create" class="form-label required">Ngày kết thúc hợp đồng</label>
                        <input type="date" class="form-control" id="end_date_create" required>
                    </div>
                    
                    <div class="col-12 modal-footer">
                        <button type="button" class="btn style3-button">Hủy</button>
                        <button type="submit" class="btn style1-button">Tạo cấp phép</button>
                    </div>
            </form>
        </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="choose-adsloc" tabindex="-1" role="dialog" aria-labelledby="edit-request-1" 
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <div class="col-md-12 mt-3 choose-location_create">
                <div class="header-map_create">
                    <label for = "search_create" class = "col-form-label">Nhấn chọn điểm đặt</label> 
                    <input type = "text" class = "form-control id_ads_location" readonly>
                </div>
                <div class="col-md-12 map_create" id = "map_create"> 
                    <p>Vui lòng chờ một chút</p>
                </div>
            </div>
    
            <div class="modal-footer col-md-12">
                <button type="button" class="btn style3-button" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn style1-button" data-dismiss="modal">Xác nhận</button>
            </div>
        </div>
        </div>
        </div>
    </div>

    <table id="example" class="table ads-table" style="width:100%">
        <thead>
            <tr>
                <th class = "caption" colspan="8">Danh sách bảng quảng cáo</th>
            </tr>
            <tr>
                <th>ID Quảng cáo</th>
                <th>Loại bảng quảng cáo</th>
                <th>Địa chỉ</th>
                <th>Loại vị trí</th>
                <th>Kích thước</th>
                <th>Số lượng</th>
                <th>Ngày hết hạn</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  
    <div class="modal fade" id="view-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <!-- <div class="modal-body"> -->
                <img class = "photo" src = ""></img>
            <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-info" tabindex="-1" role="dialog" aria-labelledby="edit-request" 
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">YÊU CẦU CHỈNH SỬA THÔNG TIN</h5>
            </div>
        <div class="modal-body">
<<<<<<< HEAD
            <form class="needs-validation row">
                <div class="col-md-6">
=======
            <form class="needs-validation row" novalidate>
                <div class="col-md-12">
>>>>>>> ffc2f2fb7f8b744a2345edbab80dc195385ce6c9
                    <div class=" col-md-12">
                        <label for="search" class="col-form-label">Điểm đặt </label>
                        <input type="text" class="form-control" id="address" value = "" readonly>
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <label for="id_board_type" class="col-form-label">Loại bảng quảng cáo</label>
                            <select id="id_board_type" class="form-select" aria-label="Default select example">
                                <!-- <option value="" selected>(Trống)</option> -->
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="expired_date" class="col-form-label">Ngày hết hạn</label>
                            <input type="date" class="form-control" id="expired_date">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="width" class="col-form-label">Kích thước chiều dài (m)</label>
                            <input type="number" class="form-control" id="width">
                        </div>
                        <div class="col-md-6">
                            <label for="height" class="col-form-label">Kích thước chiều rộng (m)</label>
                            <input type="number" class="form-control" id="height">
                        </div>
                    </div>
                    <div class = "row">
                        <div class="col-md-6">
                            <label for="quantity" class="col-form-label">Số lượng</label>
                            <input type="number" class="form-control" id="quantity">
                        </div>
                        <div class=" col-md-6">
                            <label for="photo" class="col-form-label">Hình ảnh minh họa</label>
                            <input type="file" class="form-control" id="photo" accept = "image/jpeg, image/png">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="reason" class="col-form-label required">Lí do chỉnh sửa</label>
                        <input type="text" class="form-control" id="reason" required>
                    </div>
                </div>
                <!-- <div class="row"> -->
                <!-- <div class="col-md-6 mt-3 choose-location">
                    <div class="header-map">
                        <label for = "search" class = "col-form-label">Nhấn chọn điểm đặt</label>    
                    </div>
                    <div class="col-md-12 map" id = "map"> </div>
                </div> -->
            <!-- </div> -->
                <div class="modal-footer col-md-12">
                    <button type="button" class="btn style3-button" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn style1-button btn-con" disabled>Xác nhận</button>
                </div>
            </form>
        </div>
        
        
        </div>
    </div>
    </div>

    <div class="modal fade" id="detail-popup" style = "display: none" tabindex="-1" role="dialog" aria-labelledby="edit-request"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header ">
        <h5 class="modal-title" id="edit-request">Hình ảnh chi tiết bảng quảng cáo </h5>
      </div> -->
      <div class="modal-body">

        <form class="row form-ads-create-details my-3">
          <div class="col-md-12">
              <label class="form-label" style="font-weight: 600; margin-bottom: 0.5rem;">Thông tin cấp phép</label>
          </div>
          <div class="col-md-2">
              <label for="id_license" class="form-label">ID</label>
              <input type="number" class="form-control input-details" id="id_license" readonly>
          </div>
          <div class="col-md-4">
            <label for="board_type_license" class="form-label">Loại bảng quảng cáo</label>
            <input type="text" class="form-control input-details" id="board_type_license" readonly>
          </div>
      
          <div class="col-md-3">
            <label for="size_license" class="form-label">Kích thước</label>
            <input type="text" class="form-control input-details" id="size_license" readonly>
          </div>
          <div class="col-md-3">
            <label for="quantity_license" class="form-label">Số lượng</label>
            <input type="number" class="form-control input-details" id="quantity_license" readonly>
          </div>
      
          <div class="col-md-12">
              <label for="content_license" class="form-label">Nội dung quảng cáo</label>
              <textarea type="text" class="form-control input-details" id="content_license" readonly></textarea>
          </div>
      
          <div class="col-md-4">
              <label for="company_license" class="form-label">Công ty</label>
              <input type="text" class="form-control input-details" id="company_license" readonly>
          </div>
          <div class="col-md-4">
              <label for="email_license" class="form-label">Email công ty</label>
              <input type="email" class="form-control input-details" id="email_license" readonly>
          </div>
      
          <div class="col-md-4">
              <label for="phone_license" class="form-label">Số điện thoại công ty</label>
              <input type="phone" class="form-control input-details" id="phone_license" readonly>
          </div>
          <div class="col-md-4">
              <label for="address_license" class="form-label">Địa chỉ công ty</label>
              <input type="text" class="form-control input-details" id="address_license" readonly>
          </div>
      
          <div class="col-md-4">
              <label for="start_date_license" class="form-label">Ngày bắt đầu hợp đồng</label>
              <input type="date" class="form-control input-details" id="start_date_license" readonly>
          </div>
          <div class="col-md-4">
              <label for="end_date_license" class="form-label">Ngày kết thúc hợp đồng</label>
              <input type="date" class="form-control input-details" id="end_date_license" readonly>
          </div>
          <div class="col-md-4">
              <label for="officer_license" class="form-label">Người tạo cấp phép</label>
              <input type="email" class="form-control input-details" id="officer_license" readonly>
          </div>
          <div class="col-md-4">
              <label for="office_license" class="form-label">Đơn vị tạo cấp phép</label>
              <input type="text" class="form-control input-details" id="office_license" readonly>
          </div>
          <div class="col-md-4">
            <label for="status_license" class="form-label">Trạng thái cấp phép</label>
            <input type="text" class="form-control input-details" id="status_license" readonly>
        </div>
        </form>
        <div class="image my-3">
          <img>
          <p>(Không có hình ảnh cấp phép hình ảnh)</p>
        </div>

        <div class=" row giay-phep-gia-han my-3">
          <div class="col-md-12">
            <label class="form-label" style="font-weight: 600; margin-bottom: 0.5rem;">Thông tin cấp phép gia hạn</label>
          </div>
          <div class = "col-md-12 content">
            <p>(Chưa có giấy phép gia hạn)</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/ads.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/renderWard.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/tableQuanPhuong.js"></script> 

</body>
</html>