<%- include("../../partial/header"); %>
<%- include("../../partial/tableQuanPhuong"); %>

<div id = "navbar">
    <ul>
        <li id="manage" >
            <a class="nav-link" >Quản lý</a>
            <ul class = "manage-menu" style = "display: none;">
                <li><a href = "/adsLocation">Danh sách điểm đặt quảng cáo</a></li>
                <li><a href = "/ads">Danh sách biển quảng cáo</a></li>
                <li><a href = "/report">Danh sách báo cáo vi phạm</a></li>
                <li><a href = "/createAds">Danh sách cấp phép quảng cáo</a> </li>
            </ul>
        </li>
        <li id="account">
            <a class="nav-link" href = "/account">Tài khoản</a>
        </li>
        <li id="logout">
            <a class="nav-link"  href = "/login">Đăng xuất</a>
        </li>
    </ul>
</div>
</div>
<div class="title-page">
    <i class="fa-solid fa-house"></i>
    Quản lý báo cáo vi phạm
</div>
<div class = "ward-table"></div>

<table id="example" class="table ads-create-table" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Loại bảng quảng cáo</th>
            <th>Điểm đặt</th>
            <th>Nội dung quảng cáo</th>
            <th>Công ty</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Xét duyệt</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/adsCreate.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/renderWard.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/tableQuanPhuong.js"></script> 

</body>
</html>