<%- include("../../partial/header"); %>
<%- include("../../partial/tableQuanPhuong"); %>
        <div id = "navbar">
            <ul>
                <li id="manage" >
                    <a class="nav-link" >Quản lý</a>
                    <ul class = "manage-menu" style = "display: none;">
                        <li><a href = "/adsLocation">Danh sách điểm đặt quảng cáo</a></li>
                        <li><a href = "/ads">Danh sách biển quảng cáo</a></li>
                        <li><a href = "/report">Danh sách báo cáo vi phạm</a></li>
                        <li><a href = "/createAds">Danh sách cấp phép quảng cáo</a> </li>
                    </ul>
                </li>
                <li id="account">
                    <a class="nav-link" href = "/account">Tài khoản</a>
                </li>
                <li id="logout">
                    <a class="nav-link"  href = "/login">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="title-page">
        <i class="fa-solid fa-house"></i>
        Quản lý điểm đặt quảng cáo
    </div>
    <div class = "ward-table"></div>

    <!-- <div id = "ads-location-table"></div> -->
    <table id="example" class="table ads-location-table" style="width:100%">
        <thead>
            <tr>
                <th class = "caption" colspan="8">Danh sách điểm đặt quảng cáo</th>
            </tr>
            <tr>
                <th>ID Điểm đặt</th>
                <th>Địa chỉ</th>
                <th>Phường</th>
                <th>Loại vị trí</th>
                <th>Hình thức quảng cáo</th>
                <th>Quy hoạch</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  
    <div class="modal fade" id="view-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <!-- <div class="modal-body"> -->
                <img class = "photo" src = ""></img>
            <!-- </div> -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-info" tabindex="-1" role="dialog" aria-labelledby="edit-request" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">YÊU CẦU CHỈNH SỬA THÔNG TIN</h5>
            </div>
        <div class="modal-body">
            <form class="needs-validation row" novalidate>

                <div class="col-md-6">
                    <div class=" col-md-12">
                        <label for="search" class="col-form-label">Địa chỉ (nhập địa chỉ ở bên phải)</label>
                        <input type="text" class="form-control" id="address" value = "" readonly>
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <label for="id_loc_type" class="col-form-label">Loại vị trí</label>
                            <select id="id_loc_type" class="form-select" aria-label="Default select example">
                                <option value="" selected>(Trống)</option>
                            </select>
                        </div>
                        <div class=" col-md-6">
                            <label for="id_ads_type" class="col-form-label">Hình thức quảng cáo</label>
                            <select id="id_ads_type" class="form-select" aria-label="Default select example">
                                <option value=""  selected>(Trống)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-6">
                            <label for="is_zoning" class="col-form-label">Quy hoạch</label>
                            <select id="is_zoning" class="form-select" aria-label="Default select example">
                                <option value="" selected>(Trống)</option>
                                <option value="1">Đã quy hoạch</option>
                                <option value="0">Chưa quy hoạch</option>
                            </select>
                        </div>
                        <div class=" col-md-6">
                            <label for="photo" class="col-form-label">Hình ảnh minh họa</label>
                            <input type="file" class="form-control" id="photo" accept = "image/jpeg, image/png">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="reason" class="col-form-label required">Lí do chỉnh sửa</label>
                        <input type="text" class="form-control" id="reason" required>
                    </div>
                </div>

                <div class="col-md-6 mt-3 choose-location">
                    <div class="header-map">
                        <label for = "search" class = "col-form-label">Nhập địa chỉ điểm đặt</label>
                        <input type="text" class="form-control" id="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        
                    </div>
                    <div class="col-md-12 map bg-primary" id = "map"> </div>
                </div>

                <div class="modal-footer col-md-12">
                    <button type="button" class="btn style3-button" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn style1-button">Xác nhận</button>
                </div>
            </form>
        </div>
        
        
        </div>
    </div>
    </div>

<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/adsLocation.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/renderWard.js"></script>
<script defer type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/tableQuanPhuong.js"></script> 

</body>
</html>