<div class="side-navbar">
    <div class="account">
        <h2>Ngo Ngoc Lien</h2> <!-- get name from database -->
        <p>nnlien@gmail.com</p> <!-- get email from database -->
    </div>
    <ul class="menu">
        <li><a href="/quanlichung">
            <span class="menu-icon"><i class="fas fa-home"></i></span>
            <span class="menu-text">QUẢN LÍ CHUNG</span>
        </a></li>
        <li><a href="/quanliquan">
            <span class="menu-icon"><i class="fas fa-landmark"></i></span>
            <span class="menu-text">QUẢN LÍ QUẬN</span>
        </a></li>
        <li><a href="/quanliphuong">
            <span class="menu-icon"><i class="fas fa-building"></i></span>
            <span class="menu-text">QUẢN LÍ PHƯỜNG</span>
        </a></li>
        <li><a href="/quanlicanbo">
            <span class="menu-icon"><i class="fas fa-address-card"></i></span>
            <span class="menu-text">QUẢN LÍ CÁN BỘ</span>
        </a></li>
        <li><a href="/diemdatquangcao">
            <span class="menu-icon"><i class="fas fa-map-marked-alt"></i></span>
            <span class="menu-text">ĐIỂM ĐẶT QUẢNG CÁO</span>
        </a></li>
        <li><a href="/bangquangcao">
            <span class="menu-icon"><i class="fas fa-ad"></i></span>
            <span class="menu-text">BẢNG QUẢNG CÁO</span>
        </a></li>
        <li><a href="/yeucauchinhsua">
            <span class="menu-icon"><i class="fas fa-pen"></i></span>
            <span class="menu-text">YÊU CẦU CHỈNH SỬA</span>
        </a></li>
        <li><a href="/yeucaucapphep">
            <span class="menu-icon"><i class="fas fa-award"></i></span>
            <span class="menu-text">YÊU CẦU CẤP PHÉP</span>
        </a></li>
        <li><a href="/thongkebaocao">
            <span class="menu-icon"><i class="fas fa-exclamation-triangle"></i></span>
            <span class="menu-text">THỐNG KÊ BÁO CÁO</span>
        </a></li>
    </ul>
</div>