<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fa-solid fa-exclamation-triangle"></i></span>
            <span class="title-text"><h1><a href="/thongkebaocao">Thống kê báo cáo</a> / Chi tiết báo cáo</h1></span>
        </div>
       
        <form class="form" id="report-ads">
            <legend><i class="fas fa-info-circle"></i> Chi tiết báo cáo bảng quảng cáo</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="id-report">ID Báo cáo</label>
                    <input type="text" id="id-report" name="id_report" value="<%= id %>" disabled>
                </div>
                <div class="input-field">
                    <label for="id-ads">ID Bảng quảng cáo</label>
                    <input type="text" id="id-ads" name="id_ads" disabled>
                </div>
                <div class="input-field">
                    <label for="fullname">Họ tên người báo cáo</label>
                    <input type="text" id="fullname" name="fullname" disabled>
                </div>
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" disabled>
                </div>
                <div class="input-field">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="phone" disabled>
                </div>
                <div class="input-field">
                    <label for="report-time">Thời gian báo cáo</label>
                    <input type="date" name="report_time" id="report-time" disabled>
                </div>
                <div class="input-field">
                    <label for="report-type">Loại hình báo cáo</label>
                    <input type="text" name="report_type" id="report-type" disabled>
                </div>
                <div class="input-field textarea span-3 report-content">
                    <label for="content">Nội dung báo cáo</label>
                    <textarea name="content" id="content" disabled></textarea>
                </div>
                <div class="input-field">
                    <label for="status">Trạng thái</label>
                    <input type="text" id="status" name="status" disabled>
                </div>
                <div class="input-field">
                    <label for="officer">Cán bộ xử lí</label>
                    <input type="text" name="officer" id="officer" disabled>
                </div>
                <div class="input-field">
                    <label for="office">Đơn vị xử lí</label>
                    <input type="text" name="office" id="office" disabled>
                </div>
                <div class="input-field textarea span-3 resolve">
                    <label for="resolve">Cách thức xử lí</label>
                    <textarea name="resolve" id="resolve" disabled></textarea>
                </div>

                <div class="input-field image span-4">
                    <label for="image1">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="../../../public/image/image-placeholder.jpg" alt="" id="image1">
                    </div>
                </div>
                <div class="input-field image span-4">
                    <label for="image2">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="../../../public/image/image-placeholder.jpg" alt="" id="image2">
                    </div>
                </div>
                
            </div>
        </form>
    </div>
</div>
<script src="../../../public/js/CanBo/So/baocaoBQC.js"></script>
<%- include('../../partial/footerSo.ejs') %>