<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fa-solid fa-exclamation-triangle"></i></span>
            <span class="title-text"><h1><a href="/thongkebaocao">Thống kê báo cáo</a> / Chi tiết báo cáo</h1></span>
        </div>
       
        <form action="" method="post" class="form" id="report-ads-location">
            <legend><i class="fas fa-info-circle"></i> Chi tiết báo cáo điểm đặt quảng cáo</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="id">ID Báo cáo</label>
                    <input type="text" id="id" name="id" disabled>
                </div>
                <div class="input-field">
                    <label for="id-ads-location">ID Điểm đặt</label>
                    <input type="text" id="id-ads-location" name="id-ads-location" disabled>
                </div>
                <div class="input-field">
                    <label for="reporter">Họ tên người báo cáo</label>
                    <input type="text" id="reporter" name="reporter" disabled>
                </div>
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" disabled>
                </div>
                <div class="input-field">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="phone" disabled>
                </div>
                <div class="input-field">
                    <label for="report-time">Thời gian báo cáo</label>
                    <input type="date" name="report-time" id="report-time" disabled>
                </div>
                <div class="input-field">
                    <label for="report-type">Loại hình báo cáo</label>
                    <input type="text" name="report-type" id="report-type" disabled>
                </div>
                <div class="input-field textarea span-3 report-content">
                    <label for="report-content">Nội dung báo cáo</label>
                    <textarea name="report-content" id="report-content" disabled></textarea>
                </div>
                <div class="input-field">
                    <label for="status">Trạng thái</label>
                    <input type="text" id="status" name="status" disabled>
                </div>
                <div class="input-field">
                    <label for="officer">Cán bộ xử lí</label>
                    <input type="text" name="officer" id="officer" disabled>
                </div>
                <div class="input-field">
                    <label for="office">Đơn vị xử lí</label>
                    <input type="text" name="office" id="office" disabled>
                </div>
                <div class="input-field textarea span-3 resolve">
                    <label for="resolve">Cách thức xử lí</label>
                    <textarea name="resolve" id="resolve" disabled></textarea>
                </div>

                <div class="input-field image span-4">
                    <label for="ads-location-image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="../../../public/image/image4.png" alt="" id="ads-location-image-preview">
                    </div>
                </div>
                <div class="input-field image span-4">
                    <label for="ads-location-image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="../../../public/image/image4.png" alt="" id="ads-location-image-preview">
                    </div>
                </div>
                
            </div>
        </form>

        <!-- <div class="popupmap" id="select-location-map">
            <div class="popupmap-header">
                <span class="title">Xác định vị trí điểm đặt</span>
                <span class="search-bar">
                    <input type="text" id="search">
                    <i class="fas fa-search"></i>
                </span>
                
            </div>
            <div class="popupmap-footer">
                <div class="chosen-address"></div>
                <button>Xác nhận</button>
            </div>
        </div> -->

    </div>
</div>
<script src="../../../public/js/CanBo/So/baocaoDDQC.js"></script>
<%- include('../../partial/footerSo.ejs') %>