<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-map-marked-alt"></i></span>
            <span class="title-text"><h1><a href="/bangquangcao">Quản lí bảng quảng cáo</a> / Thông tin chi tiết</h1></span>
        </div>
       
        <form action="" method="post" class="form" id="edit-ads">
            <legend><i class="fas fa-info-circle"></i> Thông tin bảng quảng cáo</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="id-ads">ID Bảng</label>
                    <input type="text" class="disabled" id="id-ads" name="id_ads" value="<%= id %>" readonly>
                    <span class="tooltiptext">Không thể chỉnh sửa ID</span>
                </div>
                <div class="input-field">
                    <label for="id-ads-location">ID Điểm đặt</label>
                    <input type="text" id="id-ads-location" name="id_ads_location" readonly>
                    <span class="tooltiptext">Chỉnh sửa bằng tọa độ</span>
                </div>
                <div class="input-field">
                    <label for="board-type">Loại bảng</label>
                    <select name="board_type" id="board-type" required>
                    </select>
                </div>
                <div class="half-half-field">
                    <div class="input-field">
                        <label for="height">Chiều dài (m)</label>
                        <input type="number" name="height" id="height" required>
                    </div>
                    <div class="input-field">
                        <label for="width">Chiều rộng (m)</label>
                        <input type="number" name="width" id="width" required>
                    </div>
                </div>
                <div class="input-field">
                    <label for="quantity">Số lượng</label>
                    <input type="number" name="quantity" id="quantity" required>
                </div> 
                <div class="input-field">
                    <label for="expired-date">Ngày hết hạn hợp đồng</label>
                    <input type="date" name="exipred_date" id="expired-date" required>
                </div>
                <div class="input-field image span-4">
                    <label for="image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="../../../public/image/image-placeholder.jpg" alt="" id="image-preview">
                        <label for="image" class="img-button">Thay đổi</label>
                        <input type="file" id="image" name="image" accept="image/*" required>
                        <div class="dark-background"></div>
                    </div>
                    
                </div>
            </div>
            <div class="button-container">
                <button type="button" value="delete" class="button button-delete">Xóa bảng</button>
                <button type="submit" value="update" class="button">Lưu thay đổi</button>
            </div>
        </form>

        <div class="popupmap" id="select-location-map">
            <div class="popupmap-header">
                <span class="title">Xác định vị trí điểm đặt</span>
                <span class="search-bar">
                    <input type="text" id="search">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="map" id="map"></div>
            <div class="popupmap-footer">
                <div class="chosen-address" id="chosen-address" style="z-index: 1000;"></div>
                <button>Xác nhận</button>
            </div>
        </div>

    </div>
</div>
<!-- <script src="../../../public/js/CanBo/So/viewmap.js"></script> -->
<script src="../../../public/js/CanBo/So/chinhsuaBQC.js"></script>
<%- include('../../partial/footerSo.ejs') %>