<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-address-card"></i></span>
            <span class="title-text"><h1><a href="/quanlicanbo">Quản lí cán bộ Phường</a> / Chỉnh sửa thông tin</h1></span>
        </div>
       
        <form class="form" id="edit-ward-officer">
            <legend><i class='far fa-edit'></i> Chỉnh sửa thông tin cán bộ Phường</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="disabled" name="email" value="<%= email %>" readonly>
                    <span class="tooltiptext">Không thể chỉnh Email</span>
                </div>
                <div class="input-field">
                    <label for="fullname">Họ tên</label>
                    <input type="text" id="fullname" name="fullname" required>
                </div>
                <div class="input-field">
                    <label for="birthdate">Ngày sinh</label>
                    <input type="date" id="birthdate" name="birthdate" required>
                </div>
                <div class="input-field">
                    <label for="phone">Số điện thoại</label>
                    <input type="tel" id="phone" name="phone" required>
                </div> 

                <div class="input-field">
                    <label for="id-district">Quận trực thuộc</label>
                    <select name="id_district" id="id-district" required>
                    </select>
                </div> 
                <div class="input-field">
                    <label for="id-ward">Phường quản lí</label>
                    <select name="id_ward" id="id-ward" required>
                    </select>
                </div> 
                
            </div>
            <div class="button-container">
                <button type="button" value="delete" onclick=handleButtonClick(this) class="button button-delete">Xóa bỏ</button>
                <button type="button" value="update" onclick=handleButtonClick(this) class="button">Lưu thay đổi</button>
            </div>
        </form>

    </div>
</div>
<script src="../../../public/js/CanBo/So/chinhsuaCBPhuong.js"></script>
<%- include('../../partial/footerSo.ejs') %>