<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-pen"></i></span>
            <span class="title-text"><h1><a href="/yeucauchinhsua">Quản lí yêu cầu chỉnh sửa thông tin</a> / Chi tiết yêu cầu</h1></span>
        </div>
       
        <form class="form" id="update-ads-location">
            <legend><i class="fas fa-info-circle"></i> Thông tin chỉnh sửa điểm đặt quảng cáo</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="id">ID Yêu cầu</label>
                    <input type="text" id="id" name="id" value="<%= id %>" disabled>
                </div>
                <div class="input-field">
                    <label for="id-ads-location">ID Điểm đặt</label>
                    <input type="text" id="id-ads-location" name="id-ads-location" disabled>
                </div>
                <div class="input-field">
                    <label for="coordinates">Tọa độ</label>
                    <input type="text" id="coordinates" name="coordinates" disabled>
                </div>
                <div class="input-field">
                    <label for="address">Địa chỉ</label>
                    <input type="text" id="address" name="address" disabled>
                </div>
                <div class="half-half-field">
                    <div class="input-field">
                        <label for="ward">Phường</label>
                        <input type="text" id="ward" name="ward" disabled>
                    </div>
                    <div class="input-field">
                        <label for="district">Quận</label>
                        <input type="text" id="district" name="district" disabled>
                    </div>
                </div>
                <div class="input-field">
                    <label for="location-type">Loại vị trí</label>
                    <input type="text" name="location-type" id="location-type" disabled>
                </div> 
                <div class="input-field">
                    <label for="ads-type">Hình thức quảng cáo</label>
                    <input type="text" name="ads-type" id="ads-type" disabled>
                </div> 
                <div class="input-field">
                    <label for="zoning-status">Tình trạng quy hoạch</label>
                    <input type="text" name="zoning-status" id="zoning-status" disabled>
                </div>
                <div class="input-field">
                    <label for="reason">Lí do chỉnh sửa</label>
                    <input type="text" name="reason" id="reason" disabled>
                </div>
                <div class="input-field">
                    <label for="req-time">Thời gian yêu cầu</label>
                    <input type="date" name="req-time" id="req-time" disabled>
                </div>
                <div class="input-field">
                    <label for="officer">Cán bộ yêu cầu</label>
                    <input type="text" name="officer" id="officer" disabled>
                </div>
                <div class="input-field">
                    <label for="office">Đơn vị yêu cầu</label>
                    <input type="text" name="office" id="office" disabled>
                </div>
                <div class="input-field image span-4">
                    <label for="image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="" alt="" id="image-preview">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="button" name="process" value="deny" class="button button-delete">Từ chối</button>
                <button type="button" name="process" value="accept" class="button">Duyệt thay đổi</button>
                <div class="processed">Đã xử lí</div>
            </div>
        </form>

        <!-- <div class="popupmap" id="select-location-map">
            <div class="popupmap-header">
                <span class="title">Xác định vị trí điểm đặt</span>
                <span class="search-bar">
                    <input type="text" id="search">
                    <i class="fas fa-search"></i>
                </span>
                
            </div>
            <div class="popupmap-footer">
                <div class="chosen-address"></div>
                <button>Xác nhận</button>
            </div>
        </div> -->

    </div>
</div>
<script src="../../../public/js/CanBo/So/chitietDDQC.js"></script>
<%- include('../../partial/footerSo.ejs') %>