<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-award"></i></span>
            <span class="title-text"><h1><a href="/yeucaucapphep">Quản lí yêu cầu cấp phép quảng cáo</a> / Chi tiết yêu cầu</h1></span>
        </div>
       
        <form class="form" id="create-ads">
            <legend><i class="fas fa-info-circle"></i> Thông tin cấp phép</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="id">ID Yêu cầu</label>
                    <input type="text" id="id" name="id" value="<%= id %>" disabled>
                </div>
                <div class="input-field">
                    <label for="id-ads-location">ID Điểm đặt</label>
                    <input type="text" id="id-ads-location" name="id-ads-location" disabled>
                </div>
                <div class="input-field">
                    <label for="address">Địa chỉ điểm đặt</label>
                    <input type="text" id="address" name="address" disabled>
                </div>
                <div class="input-field">
                    <label for="board-type">Loại bảng</label>
                    <input type="text" name="board-type" id="board-type" disabled>
                </div> 
                <div class="half-half-field">
                    <div class="input-field">
                        <label for="height">Chiều dài</label>
                        <input type="text" id="height" name="height" disabled>
                    </div>
                    <div class="input-field">
                        <label for="width">Chiều rộng</label>
                        <input type="text" id="width" name="width" disabled>
                    </div>
                </div>
                <div class="input-field">
                    <label for="quantity">Số lượng</label>
                    <input type="text" id="quantity" name="quantity" disabled>
                </div>
                <div class="input-field">
                    <label for="company">Công ty</label>
                    <input type="text" id="company" name="company" disabled>
                </div>
                <div class="input-field">
                    <label for="company-address">Địa chỉ công ty</label>
                    <input type="text" id="company-address" name="company-address" disabled>
                </div>
                <div class="input-field">
                    <label for="company-email">Email</label>
                    <input type="text" id="company-email" name="company-email" disabled>
                </div>
                <div class="input-field">
                    <label for="company-phone">Số điện thoại</label>
                    <input type="text" id="company-phone" name="company-phone" disabled>
                </div>
                <div class="input-field">
                    <label for="start-date">Ngày bắt đầu hợp đồng</label>
                    <input type="date" name="start-date" id="start-date" disabled>
                </div>
                <div class="input-field">
                    <label for="end-date">Ngày hết hạn hợp đồng</label>
                    <input type="date" name="end-date" id="end-date" disabled>
                </div>
                <div class="input-field textarea span-2">
                    <label for="content">Nội dung quảng cáo</label>
                    <textarea name="content" id="content" disabled></textarea>
                </div>
                <!-- <div class="input-field">
                    <label for="req-time">Thời gian yêu cầu</label>
                    <input type="date" name="req-time" id="req-time" disabled>
                </div> -->
                <div class="input-field">
                    <label for="officer">Cán bộ yêu cầu</label>
                    <input type="text" name="officer" id="officer" disabled>
                </div>
                <div class="input-field">
                    <label for="office">Đơn vị yêu cầu</label>
                    <input type="text" name="office" id="office" disabled>
                </div>
                <div class="input-field image span-4">
                    <label for="image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="" alt="" id="image-preview">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" name="process" value="deny" class="button button-delete">Từ chối</button>
                <button type="submit" name="process" value="accept" class="button">Duyệt cấp phép</button>
                <div class="processed"></div>
            </div>
        </form>

        <!-- <div class="popupmap" id="select-location-map">
            <div class="popupmap-header">
                <span class="title">Xác định vị trí điểm đặt</span>
                <span class="search-bar">
                    <input type="text" id="search">
                    <i class="fas fa-search"></i>
                </span>
                
            </div>
            <div class="popupmap-footer">
                <div class="chosen-address"></div>
                <button>Xác nhận</button>
            </div>
        </div> -->

    </div>
</div>
<script src="../../../public/js/CanBo/So/chitietYCCP.js"></script>
<%- include('../../partial/footerSo.ejs') %>