<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-pen"></i></span>
            <span class="title-text"><h1><a href="/yeucauchinhsua">Quản lí yêu cầu chỉnh sửa thông tin</a> / Chi tiết yêu cầu</h1></span>
        </div>
       
        <form class="form" id="update-ads">
            <legend><i class="fas fa-info-circle"></i> Thông tin chỉnh sửa bảng quảng cáo</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="id">ID Yêu cầu</label>
                    <input type="text" id="id" name="id" value="<%= id %>" disabled>
                </div>
                <div class="half-half-field">
                    <div class="input-field">
                        <label for="id-ads">ID Bảng</label>
                        <input type="text" id="id-ads" name="id-ads" disabled>
                    </div>
                    <div class="input-field">
                        <label for="id-ads-location">ID Điểm đặt</label>
                        <input type="text" id="id-ads-location" name="id-ads-location" class="disabled" readonly>
                    </div>
                </div>
                <div class="half-half-field">
                    <div class="input-field">
                        <label for="height">Chiều dài</label>
                        <input type="text" id="height" name="height" disabled>
                    </div>
                    <div class="input-field">
                        <label for="width">Chiều rộng</label>
                        <input type="text" id="width" name="width" disabled>
                    </div>
                </div>
                <div class="input-field">
                    <label for="quantity">Số lượng</label>
                    <input type="text" id="quantity" name="quantity" disabled>
                </div>
                <div class="input-field">
                    <label for="board-type">Loại bảng</label>
                    <input type="text" name="board-type" id="board-type" disabled>
                </div> 
                <div class="input-field">
                    <label for="expired-date">Ngày hết hạn hợp đồng</label>
                    <input type="date" name="expired-date" id="expired-date" disabled>
                </div>
                <div class="input-field">
                    <label for="reason">Lí do chỉnh sửa</label>
                    <input type="text" name="reason" id="reason" disabled>
                </div>
                <div class="input-field">
                    <label for="req-time">Thời gian yêu cầu</label>
                    <input type="date" name="req-time" id="req-time" disabled>
                </div>
                <div class="input-field">
                    <label for="officer">Cán bộ yêu cầu</label>
                    <input type="text" name="officer" id="officer" disabled>
                </div>
                <div class="input-field">
                    <label for="office">Đơn vị yêu cầu</label>
                    <input type="text" name="office" id="office" disabled>
                </div>
                <div class="input-field image span-4">
                    <label for="image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="" alt="" id="image-preview">
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" name="process" value="deny" class="button button-delete">Từ chối</button>
                <button type="submit" name="process" value="accept" class="button">Duyệt thay đổi</button>
                <div class="processed">Đã xử lí</div>
            </div>
        </form>

        <div class="popupmap" id="select-location-map">
          <div class="popupmap-header">
              <span class="title">Xem vị trí điểm đặt</span>
              <!-- <span class="search-bar">
                  <input type="text" id="search">
                  <i class="fas fa-search"></i>
              </span> -->
          </div>
          <div class="map" id="map"></div>
          <div class="popupmap-footer">
              <!-- <div class="chosen-address" id="chosen-address" style="z-index: 1000;"></div> -->
              <!-- <button>Xác nhận</button> -->
          </div>
        </div>
    </div>
</div>
<script src="../../../public/js/CanBo/So/chitietBQC.js"></script>
<%- include('../../partial/footerSo.ejs') %>