<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-map-marked-alt"></i></span>
            <span class="title-text"><h1>Quản lí điểm đặt quảng cáo</h1></span>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="ads-location-table">
            <table> 
                <caption>Danh sách các điểm đặt quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Điểm đặt</th>
                        <th>Địa chỉ</th>
                        <th>Phường</th>
                        <th>Quận</th>
                        <th>Loại vị trí</th>
                        <th>Hình thức quảng cáo</th>
                        <th>Tình trạng quy hoạch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="7" class="add-item"><a href="/diemdatquangcao/them"><i class="fas fa-plus"></i></a></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../../../public/js/CanBo/So/diemdatquangcao.js"></script>
<%- include('../../partial/footerSo.ejs') %>