<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-home"></i></span>
            <span class="title-text"><h1>Quản lí Quận</h1></span>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="district-table">
            <table>
                <caption>Danh sách các Quận</caption>
                <thead>
                    <tr>
                        <th class="id">ID Quận</th>
                        <th>Tên Quận</th>
                        <th>Số phường</th>
                        <th>Số điểm đặt quảng cáo</th>
                        <th>Số bảng quảng cáo</th>
                        <th>Số cán bộ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="6" class="add-item" onclick=addPopup(this)><i class="fas fa-plus"></i></td>
                </tbody>
            </table>
        </div>

        <!-- POPUP EDIT FORM -->
        <form action="" method="post" class="popup-edit" id="edit-popup">
            <legend></legend>
            <div class="input-field">
                <label for="id-district"></label>
                <input type="text" id="id-district" name="id-district" disabled>
                <span class="tooltiptext">Không thể chỉnh sửa ID</span>
            </div>
            <div class="input-field">
                <label for="district-name"></label>
                <input type="text" id="district-name" name="district-name" required>
            </div>
            
            <button type="submit" value="delete" class="button">Lưu thay đổi</button>
            <button type="button" value="update" class="button button-delete">Xóa bỏ</button>
        </form>

        <!-- POPUP ADD FORM -->
        <form action="" method="post" class="popup-edit" id="add-popup">
            <legend></legend>
            <div class="input-field">
                <label for="adslocation-type"></label>
                <input type="text" id="adslocation-type" name="name-adslocation-type" required>
            </div>
            
            <button type="submit" value="add" class="button">Thêm</button>
        </form>
    </div>
</div>
<script src="../../../public/js/CanBo/So/quanliquan.js"></script>
<%- include('../../partial/footerSo.ejs') %>