<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-landmark"></i></span>
            <span class="title-text"><h1>Quản lí Quận</h1></span>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="district-table">
            <table>
                <caption>Danh sách các Quận</caption>
                <thead>
                    <tr>
                        <th class="id">ID Quận</th>
                        <th>Tên Quận</th>
                        <th>Số phường</th>
                        <th>Số điểm đặt quảng cáo</th>
                        <th>Số bảng quảng cáo</th>
                        <th>Số cán bộ</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr><td colspan="6" class="add-item" onclick=addPopup(this)><i class="fas fa-plus"></i></td> -->
                </tbody>
            </table>
        </div>

        <!-- POPUP EDIT FORM -->
        <form class="popup form" id="edit-popup">
            <legend></legend>
            <div class="input-field">
                <label for="id"></label>
                <input type="text" id="id" name="id" class="disabled" readonly>
                <span class="tooltiptext">Không thể chỉnh sửa ID</span>
            </div>
            <div class="input-field">
                <label for="name"></label>
                <input type="text" id="name" name="name" required>
            </div>
            
            <button type="button" value="update" onclick=handleButtonClick(this) class="button">Lưu thay đổi</button>
            <button type="button" value="delete" onclick=handleButtonClick(this) class="button button-delete">Xóa bỏ</button>
        </form>

        <!-- POPUP ADD FORM -->
        <form class="popup form" id="add-popup">
            <legend></legend>
            <div class="input-field">
                <label for="name"></label>
                <input type="text" id="name" name="name" required>
            </div>
            
            <button type="submit" value="add" onclick=handleButtonClick(this) class="button">Thêm</button>
        </form>
    </div>
</div>
<script src="../../../public/js/CanBo/So/quanliquan.js"></script>
<%- include('../../partial/footerSo.ejs') %>