<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-map-marked-alt"></i></span>
            <span class="title-text"><h1><a href="/diemdatquangcao">Quản lí điểm đặt quảng cáo</a> / Thêm điểm đặt quảng cáo</h1></span>
        </div>
       
        <form action="" method="post" class="form" id="add-ads-location">
            <legend><i class="fas fa-plus-square"></i> Thêm điểm đặt quảng cáo</legend>
            <div class="input-container">
                <!-- <div class="input-field">
                    <label for="id-ads-location">ID Điểm đặt</label>
                    <input type="text" id="id-ads-location" name="id-ads-location" disabled>
                    <span class="tooltiptext">Không thể chỉnh sửa ID</span>
                </div> -->
                <div class="input-field">
                    <label for="address-ads-location">Địa chỉ</label>
                    <input type="text" id="address-ads-location" name="address-ads-location" disabled>
                    <span class="tooltiptext">Chỉnh sửa bằng tọa độ</span>
                </div>
                <div class="input-field">
                    <label for="ward-ads-location">Phường</label>
                    <input type="text" id="ward-ads-location" name="ward-ads-location" disabled>
                    <span class="tooltiptext">Chỉnh sửa bằng tọa độ</span>
                </div>
                <div class="input-field">
                    <label for="district-ads-location">Quận</label>
                    <input type="text" id="district-ads-location" name="district-ads-location" disabled>
                    <span class="tooltiptext">Chỉnh sửa bằng tọa độ</span>
                </div> 
                <div class="input-field">
                    <label for="coordinates-ads-location">Tọa độ</label>
                    <input type="text" id="coordinates-ads-location" name="coordinates-ads-location" onclick=mapPopup() readonly>
                </div>
                <div class="input-field">
                    <label for="ads-location-type">Loại vị trí</label>
                    <select name="ads-location-type" id="ads-location-type" required>
                    </select>
                </div>
                <div class="input-field">
                    <label for="ads-type">Hình thức quảng cáo</label>
                    <select name="ads-type" id="ads-type" required>
                    </select>
                </div> 
                <div class="input-field">
                    <label for="zoning-status">Tình trạng quy hoạch</label>
                    <select name="zoning-status" id="zoning-status" required>
                        <option value="">Chọn tình trạng</option>
                        <option value="1">Đã quy hoạch</option>
                        <option value="0">Chưa quy hoạch</option>
                    </select>
                </div>
                <div class="input-field image span-5">
                    <label for="ads-location-image">Hình ảnh minh họa</label>
                    <div class="img-container">
                        <img src="../../../public/image/image-placeholder.jpg" alt="" id="ads-location-image-preview">
                        <label for="ads-location-image" class="img-button">Thay đổi</label>
                        <input type="file" id="ads-location-image" name="ads-location-image" accept="image/*" required>
                        <div class="dark-background"></div>
                    </div>
                    
                </div>
            </div>
            <div class="button-container">
                <button type="submit" value="add" class="button">Thêm điểm đặt</button>
            </div>
        </form>

        <div class="popupmap" id="select-location-map">
            <div class="popupmap-header">
                <span class="title">Xác định vị trí điểm đặt</span>
                <span class="search-bar">
                    <input type="text" id="search">
                    <i class="fas fa-search"></i>
                </span>
            </div>
            <div class="map" id="map"></div>
            <div class="popupmap-footer">
                <div class="chosen-address" id="chosen-address" style="z-index: 1000;"></div>
                <button>Xác nhận</button>
            </div>
        </div>

    </div>
</div>
<script src="../../../public/js/CanBo/So/viewmap.js"></script>
<script src="../../../public/js/CanBo/So/themDDQC.js"></script>
<%- include('../../partial/footerSo.ejs') %>