<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-address-card"></i></span>
            <span class="title-text"><h1><a href="/quanlicanbo">Quản lí cán bộ Phường</a> / Thêm cán bộ</h1></span>
        </div>
       
        <form action="" method="post" class="form" id="add-ward-officer">
            <legend><i class='fas fa-plus-square'></i> Thêm cán bộ Phường</legend>
            <div class="input-container">
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="e.g. canbo@example.com" required>
                </div>
                <div class="input-field">
                    <label for="fullname">Họ tên</label>
                    <input type="text" id="fullname" name="fullname" placeholder="e.g. Nguyễn Văn A" required>
                </div>
                <div class="input-field">
                    <label for="birthdate">Ngày sinh</label>
                    <input type="date" id="birthdate" name="birthdate" required>
                </div>
                <div class="input-field">
                    <label for="phone">Số điện thoại</label>
                    <input type="tel" id="phone" name="phone" placeholder="e.g. 0123456789" required>
                </div> 
                <div class="input-field">
                    <label for="id-district">Quận trực thuộc</label>
                    <select name="id_district" id="id-district" required>
                    </select>
                </div>
                <div class="input-field">
                    <label for="id-ward">Phường quản lí</label>
                    <select name="id_ward" id="id-ward" required>
                    </select>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" value="add" onclick=handleButtonClick(this) class="button">Thêm</button>
            </div>
        </form>

    </div>
</div>
<script src="../../../public/js/CanBo/So/themCBPhuong.js"></script>
<%- include('../../partial/footerSo.ejs') %>