<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-address-card"></i></span>
            <span class="title-text"><h1><a href="/quanlicanbo">Quản lí cán bộ Quận</a> / Thêm cán bộ</h1></span>
        </div>
       
        <form action="" method="post" class="form" id="add-district-officer">
            <legend><i class='fas fa-plus-square'></i> Thêm cán bộ Quận</legend>
            <div class="input-container">
                <!-- <div class="input-field">
                    <label for="id-officer">ID Cán bộ</label>
                    <input type="text" id="id-officer" name="id-officer" disabled>
                    <span class="tooltiptext">Không thể chỉnh sửa ID</span>
                </div> -->
                <div class="input-field">
                    <label for="name-officer">Họ tên</label>
                    <input type="text" id="name-officer" name="name-officer" required>
                </div>
                <div class="input-field">
                    <label for="dob-officer">Ngày sinh</label>
                    <input type="date" id="dob-officer" name="position-officer" required>
                </div>
                <div class="input-field">
                    <label for="email-officer">Email</label>
                    <input type="email" id="email-officer" name="email-officer" required>
                </div>
                <div class="input-field">
                    <label for="phone-officer">Số điện thoại</label>
                    <input type="tel" id="phone-officer" name="phone-officer" required>
                </div> 
                <div class="input-field">
                    <label for="work-for-district">Quận quản lí</label>
                    <select name="work-for-district" id="work-for-district" required>
                    </select>
                </div> 
            </div>
            <div class="button-container">
                <button type="submit" value="add" class="button">Thêm</button>
            </div>
        </form>

    </div>
</div>
<script src="../../../public/js/CanBo/So/themCBQuan.js"></script>
<%- include('../../partial/footerSo.ejs') %>