<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fa-solid fa-exclamation-triangle"></i></span>
            <span class="title-text"><h1>Thống kê báo cáo</h1></span>
        </div>

        <div class="statistic-container">
            <div class="statistic-card" id="report-statistic">
                <div class="statistic-icon"><i class="fa-solid fa-exclamation-triangle"></i></div>
                <div class="statistic-content">
                    <p class="statistic-text">Tổng số báo cáo</p>
                    <p class="statistic-number">57</p>
                </div>
            </div>

            <div class="statistic-card" id="complete-statistic">
                <div class="statistic-icon"><i class="fa-regular fa-circle-check"></i></div>
                <div class="statistic-content">
                    <p class="statistic-text">Báo cáo đã xử lí</p>
                    <p class="statistic-number">24</p>
                </div>
            </div>

            <div class="statistic-card" id="incomplete-statistic">
                <div class="statistic-icon"><i class="fa-regular fa-circle-xmark"></i></div>
                <div class="statistic-content">
                    <p class="statistic-text">Báo cáo chưa xử lí</p>
                    <p class="statistic-number">33</p>
                </div>
            </div>

            <div class="statistic-card" id="district-report-statistic">
                <div class="statistic-icon"><i class="fa-solid fa-landmark"></i></div>
                <div class="statistic-content">
                    <p class="statistic-text">Báo cáo do Quận xử lí</p>
                    <p class="statistic-number">12</p>
                </div>
            </div>

            <div class="statistic-card" id="ward-report-statistic">
                <div class="statistic-icon"><i class="fa-solid fa-building"></i></div>
                <div class="statistic-content">
                    <p class="statistic-text">Báo cáo do Phường xử lí</p>
                    <p class="statistic-number">12</p>
                </div>
            </div>
        </div>
        <!-- END OF STATISTICS -->
        
        <div class="chart-container">
            <h2 class="chart-title">Thống kê tỉ lệ báo cáo theo loại hình báo cáo</h2>
            <div class="chart-and-labels">
                <div class="chart"><canvas id="piechart"></canvas></div>
                <div class="label-container">
                    <div class="label"><span class="color red"></span><span class="text">Tố giác sai phạm</span></div>
                    <div class="label"><span class="color yellow"></span><span class="text">Đăng ký nội dung</span></div>
                    <div class="label"><span class="color green"></span><span class="text">Đóng góp ý kiến</span></div>
                    <div class="label"><span class="color blue"></span><span class="text">Giải đáp thắc mắc</span></div>
                </div>
            </div>
            
        </div>
        
        <!-- TABLE 1 -->
        <div class="table-wrap" id="report-ads-table">
            <table>
                <caption>Danh sách báo cáo bảng quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Báo cáo</th>
                        <th>ID Bảng</th>
                        <th>Loại hình báo cáo</th>
                        <th>Thời gian báo cáo</th>
                        <th>Đơn vị xử lí</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="table-wrap" id="report-ads-location-table">
            <table>
                <caption>Danh sách báo cáo điểm đặt quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Báo cáo</th>
                        <th>ID Điểm đặt</th>
                        <th>Loại hình báo cáo</th>
                        <th>Thời gian báo cáo</th>
                        <th>Đơn vị xử lí</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="table-wrap" id="report-location-table">
            <table>
                <caption>Danh sách báo cáo địa điểm</caption>
                <thead>
                    <tr>
                        <th class="id">ID Báo cáo</th>
                        <th>Địa chỉ</th>
                        <th>Phường</th>
                        <th>Quận</th>
                        <th>Loại hình báo cáo</th>
                        <th>Thời gian báo cáo</th>
                        <th>Đơn vị xử lí</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../../../public/js/CanBo/So/thongkebaocao.js"></script>
<%- include('../../partial/footerSo.ejs') %>