<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-home"></i></span>
            <span class="title-text"><h1>Thống kê báo cáo</h1></span>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="ads-report-management">
            <table>
                <caption>Danh sách báo cáo bảng quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Báo cáo</th>
                        <th>ID Bảng</th>
                        <th>Loại hình báo cáo</th>
                        <th>Thời gian báo cáo</th>
                        <th>Đơn vị xử lí</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="6" class="add-item"><i class="fas fa-plus"></i></td>
                </tbody>
            </table>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="adslocation-report-management">
            <table>
                <caption>Danh sách báo cáo điểm đặt quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Báo cáo</th>
                        <th>ID Điểm đặt</th>
                        <th>Loại hình báo cáo</th>
                        <th>Thời gian báo cáo</th>
                        <th>Đơn vị xử lí</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="6" class="add-item"><i class="fas fa-plus"></i></td>
                </tbody>
            </table>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="location-report-management">
            <table>
                <caption>Danh sách báo cáo địa điểm</caption>
                <thead>
                    <tr>
                        <th class="id">ID Báo cáo</th>
                        <th>Địa chỉ</th>
                        <th>Phường</th>
                        <th>Quận</th>
                        <th>Loại hình báo cáo</th>
                        <th>Thời gian báo cáo</th>
                        <th>Đơn vị xử lí</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="8" class="add-item"><i class="fas fa-plus"></i></td>
                </tbody>
            </table>
        </div>
    </div>
    <script src="../../../public/js/CanBo/So/quanliquan.js"></script>
<%- include('../../partial/footerSo.ejs') %>