<%- include('../../partial/headerSo.ejs') %>
<%- include('../../partial/sidebarSo.ejs') %>
    <div class="content">
        <div class="title-container">
            <span class="title-icon"><i class="fas fa-pen"></i></span>
            <span class="title-text"><h1>Quản lí yêu cầu chỉnh sửa thông tin</h1></span>
        </div>
        <!-- TABLE 1 -->
        <div class="table-wrap" id="edit-ads-location-table">
            <table>
                <caption>Danh sách yêu cầu chỉnh sửa thông tin điểm đặt quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Yêu cầu</th>
                        <th>ID Điểm đặt</th>
                        <th>Địa chỉ</th>
                        <th>Phường</th>
                        <th>Quận</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="7" class="add-item"><a href="/yeucauchinhsua/chitietddqc"><i class="fas fa-plus"></i></a></td></tr>
                </tbody>
            </table>
        </div>

        <div class="table-wrap" id="edit-ads-table">
            <table>
                <caption>Danh sách yêu cầu chỉnh sửa thông tin bảng quảng cáo</caption>
                <thead>
                    <tr>
                        <th class="id">ID Yêu cầu</th>
                        <th class="id">ID Bảng</th>
                        <th class="id">ID Điểm đặt</th>
                        <th>Địa chỉ</th>
                        <th>Phường</th>
                        <th>Quận</th>
                        <th>Thời gian</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="8" class="add-item"><a href="/yeucauchinhsua/chitietbqc"><i class="fas fa-plus"></i></a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../../../public/js/CanBo/So/yeucauchinhsua.js"></script>
<%- include('../../partial/footerSo.ejs') %>