<%- include("../partial/headerNgDan"); %>

  <div class="homepageNgDan">
    <div id='map'>
      <script type="text/javascript" src="../../public/js/homepageNguoiDan.js"></script>
    </div>
    <div class="toggle-btn">
      <input type="checkbox" checked data-toggle="toggle" data-onstyle="primary">
      <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
      <input type="checkbox" checked data-toggle="toggle" data-onstyle="danger">
    </div>
  </div>
  </body>

  </html>