<%- include("../partial/headerNgDan"); %>


  <div class="homepageNgDan ">
    <div id='map'></div> 
    <div id="sidebar" style="display: none">
      <div class="adInfo" style="display: block;">
      </div>
      <div class="locInfo">
        <i class="fa-solid fa-location-dot"></i> Thông tin địa điểm
        <div class="data">
          <p class="place"></p>
          <p class="address"></p>
        </div>
        <div class="button-group">
          <button data-target="#report-popup" data-toggle="modal" class="btn style3-button report-button">
            <i class="fa-solid fa-flag"></i> Báo cáo
          </button>
          <button data-target="#other-report-popup" data-toggle="modal" class="btn style1-button other-report-button">
            <i class="fa-solid fa-eye"></i> Xem báo cáo
          </button>
        </div>
      </div>
      <div class="diem-bat-ky" style="display: none">
        <i class="fa-solid fa-location-dot"></i> Thông tin địa điểm
        <div class="data">
          <p class="place"></p>
          <p class="address"></p>
        </div>
        <div class="button-group">
          <button data-target="#report-popup" data-toggle="modal" class="btn style3-button report-button">
            <i class="fa-solid fa-flag"></i> Báo cáo
          </button>
          <button data-target="#other-report-popup" data-toggle="modal" class="btn style1-button other-report-button">
            <i class="fa-solid fa-eye"></i> Xem báo cáo
          </button>
        </div>
      </div>
      <button type="button" class="btn close-button btn-sm" role="button"> <i class="fa-solid fa-arrow-left"></i> Close
      </button>
    </div>

    <div class="modal fade" id="detail-popup" tabindex="-1" role="dialog" aria-labelledby="edit-request"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">HÌNH ẢNH CHI TIẾT BẢNG QUẢNG CÁO</h5>
          </div>
          <div class="modal-body">
            <div class="col-md-12 image">
              <img>
            </div>
            <div class="col-md-12 expired-date"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="report-popup" tabindex="-1" role="dialog" aria-labelledby="edit-request"
      aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">BÁO CÁO VI PHẠM</h5>
          </div>
          <div class="modal-body">
            <form class="needs-validation row">
              <div class="form-group col-md-12">
                <label class=" control-label required">Hình thức báo cáo</label>
                <div class="selectContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="reportType" id="reportType" class="form-control selectpicker" required>
                      <option value="1">Tố giác sai phạm</option>
                      <option value="2">Đăng ký nội dung</option>
                      <option value="3">Đóng góp ý kiến</option>
                      <option value="4">Giải đáp thắc mắc</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12">
                <label class=" control-label required">Họ tên người báo cáo</label>
                <div class=" inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="name" id="name" class="form-control" type="text" required>
                  </div>
                </div>
              </div>
              <div class="col-md-12">

              </div>
              <div class="form-group col-md-12">
                <label class=" control-label required">Email</label>
                <div class=" inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" id="email" class="form-control" type="text" value="lvduc@gmail.com" required>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12">
                <label class=" control-label required">Số điện thoại</label>
                <div class=" inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="phone" id="phone" class="form-control" type="text" required>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12">
                <label class=" control-label required">Nội dung báo cáo</label>
                <div class=" inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="reportContent" id="reportContent" rows="2" required></textarea>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12 row">
                <label class=" control-label ">Hình ảnh báo cáo (tối đa 2 ảnh)</label>
                <input type="file" class="form-control-file col-md-12" id="image1" accept=".jpg, .jpeg, .png">
                <input type="file" class="form-control-file col-md-12" id="image2" accept=".jpg, .jpeg, .png">
              </div>

              <!-- <div class="alert alert-success" role="alert" id="success_message">Success <i
                class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you
              shortly.</div> -->

              <div class="col-md-12 button-group" style="justify-content: center; margin-bottom: 3%">
                <button type="button" id="cancel" class="btn style3-button">Hủy</button>
                <button type="button" id="send" class="btn style1-button">Gửi báo cáo</button>
              </div>

            </form>
          </div>


        </div>
      </div>
    </div>

    <div class="modal fade" id="other-report-popup" tabindex="-1" role="dialog" aria-labelledby="edit-request"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">TỔNG HỢP BÁO CÁO VI PHẠM </h5>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <div class="other-symbol">
              <i class="fa-solid fa-circle"></i> Báo cáo của người khác
            </div>
            <div class="mine-symbol">
              <i class="fa-solid fa-circle"></i> Báo cáo của bạn
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- toggle switch -->
    <div class="flex-container toggle">
      <label class="switch">
        <input id="quangcao" type="checkbox" checked>
        <span class="slider round" id="switch1"></span>
      </label>
      <span id="sub">Quảng cáo</span>
      <label class="switch">
        <input id="baocao" type="checkbox" checked>
        <span class="slider round" id="switch2"></span>
      </label>
      <span id="sub">Báo cáo</span>
      <label class="switch">
        <input id="quyhoach" type="checkbox" checked>
        <span class="slider round" id="switch3"></span>
      </label>
      <span id="sub">Chưa quy hoạch</span>
    </div>
  </div>
  </div>


  </body>
  <script type="text/javascript" src="../../public/js/NguoiDan/homepageNguoiDan.js"></script>
  <script type="text/javascript" src="../../public/js/CanBo/PhuongQuan/apiObject.js"></script>

  </html>