<%- include("../partial/headerNgDan"); %>


  <div class="homepageNgDan ">
    <div id='map'></div>
    <div id="sidebar" style = "display: none">
      <div class="adInfo" style="display: block;">
      </div>
      <div class="locInfo">
        <i class="fa-solid fa-location-dot"></i> Thông tin địa điểm
        <div class = "data">
          <p class="place"></p>
          <p class="address"></p>
        </div>
        <div class = "button-group">
            <button data-target="#report-popup" data-toggle="modal" class="btn style3-button">
              <i class="fa-solid fa-flag"></i> Báo cáo
            </button>
            <button data-target="#other-report-popup" data-toggle="modal" class="btn style1-button">
              <i class="fa-solid fa-eye"></i> Xem báo cáo
            </button>
      </div>
      </div>
      <button type = "button" class="btn close-button btn-sm" role="button"
       > <i class="fa-solid fa-arrow-left"></i> Close
    </button>
    </div>
    
    <div class="modal fade" id="detail-popup" tabindex="-1" role="dialog" aria-labelledby="edit-request" 
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header ">
            <h5 class="modal-title" id="edit-request">Hình ảnh chi tiết bảng quảng cáo </h5>
            </div>
        <div class="modal-body">
              <div class="col-md-12 image">
                <img>
              </div>
              <div class="col-md-12 expired-date"></div>
        </div>
        
        
        </div>
    </div>
    </div>


    <!-- toggle switch -->
    <div class="flex-container">
      <label class="switch">
        <input id="quangcao" type="checkbox" checked>
        <span class="slider round" id="switch1"></span>
      </label>
      <span id="sub">Quảng cáo</span>
      <label class="switch">
        <input id="baocao" type="checkbox" checked>
        <span class="slider round" id="switch2"></span>
      </label>
      <span id="sub">Báo cáo</span>
      <label class="switch">
        <input id="quyhoach" type="checkbox" checked>
        <span class="slider round" id="switch3"></span>
      </label>
      <span id="sub">Chưa quy hoạch</span>
    </div>
  </div>
  </div>


  </body>
  <script type="text/javascript" src="../../public/js/NguoiDan/homepageNguoiDan.js"></script>
  <script type="text/javascript" src="../../public/js/CanBo/PhuongQuan/apiObject.js"></script>

  </html>