<%- include("../partial/header"); %>

<div id = "select-ward">
    <div class = "select-ward-bar"> Chọn phường để xem ...</div>
    <hr style = "display: none">
    <form id="ward-container" style = "display: none"></form>
</div>  

<%- include("../partial/navbar"); %>
<div id="sidebar" style="display: none">
  <div class="adInfo" style="display: block;">
  </div>
  <div class="locInfo">
    <i class="fa-solid fa-location-dot"></i> Thông tin địa điểm
    <div class="data">
      <p class="place"></p>
      <p class="address"></p>
    </div>
    <div class="button-group">
      <button data-target="#other-report-popup" data-toggle="modal" class="btn style1-button other-report-button">
        <i class="fa-solid fa-eye"></i> Xem báo cáo
      </button>
    </div>
  </div>
  <button type="button" class="btn close-button btn-sm" role="button"> <i class="fa-solid fa-arrow-left"></i> Close
  </button>
</div>

<div class="modal fade" id="detail-popup" tabindex="-1" role="dialog" aria-labelledby="edit-request"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="edit-request">Hình ảnh chi tiết bảng quảng cáo </h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12 image mt-2">
          <img>
        </div>
        <div class="col-md-12 expired-date mb-2"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="other-report-popup" tabindex="-1" role="dialog" aria-labelledby="edit-request" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title" id="edit-request">TỔNG HỢP BÁO CÁO VI PHẠM </h5>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="flex-container">
    <label class="switch">
      <input type="checkbox" id = "quangcao" checked>
      <span class="slider round" id="switch1"></span>
    </label>
    <span id="sub">Bảng quảng cáo</span>
    <label class="switch">
      <input type="checkbox" id = "baocao" checked>
      <span class="slider round" id="switch2"></span>
    </label>
    <span id="sub">Báo cáo vi phạm</span>
    <label class="switch">
      <input type="checkbox" id = "quyhoach" checked>
      <span class="slider round" id="switch3"></span>
    </label>
    <span id="sub">Chưa quy hoạch</span>
  </div>
</div>

<div id='map' class = "container-fluid"></div> 
 
<script type = "text/javascript" src="../../public/js/CanBo/homepageCanBo.js"></script>

</body>
</html>