<%- include("../partial/header"); %>

<div id = "select-ward">
    <div class = "select-ward-bar"> Chọn phường để xem ...</div>
    <hr style = "display: none">
    <form id="ward-container" style = "display: none"></form>
</div>  

<%- include("../partial/navbar"); %>

<div id='map' class = "container-fluid"></div>
 
<script type = "text/javascript" src="../../public/js/CanBo/homepageCanBo.js"></script>

</body>
</html>