<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADS MAP</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="../../public/image/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Montserrat:wght@400;500&family=RocknRoll+One&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
      /* Style the icon */
      .login-logo{
        display: flex;
        justify-content: center;
      }

      .login-logo a {
        text-decoration: none;
      }

      .google-logo i{
        color: #ea4335;
        font-size:2.5rem;
      }

      .fb-logo i{
        color: #3b5998;
        font-size:2.5rem;
      }
    </style>

    <link rel="stylesheet" href="../../public/css/style.css">
    <!-- <script type = "text/javascript" src="../../public/js/CanBo/PhuongQuan/apiObject.js"></script> -->
</head>
<body>
    <div class="login-container">
        <div class="row justify-content-center">                                                                                                                                                                                                                                                  

          <div class="col-md-10">

            <form>
              <svg class="svg-content" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="40" fill="#0B7B31" />
                <text class = "user-icon" x="100" y="100" font-family="FontAwesome" font-size="2.5rem" fill="#BDF3CF">&#xf007;</text>
                <text class = "key-icon" style = "display: none" x="100" y="100" font-family="FontAwesome" font-size="2.5rem" fill="#BDF3CF">&#xf084;</text>
              </svg>

              <div class = "login-form">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email" >
                </div>
                <div class="form-group">
                  <label for="password">Mật khẩu</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <button id="login-button" type="submit" class="style1-button btn">Đăng nhập</button>
                <a class="forget-pass" href = "#"><p>Quên mật khẩu</p></a>

                <p style = "text-align: center" class = "mt-4 mb-0">Hoặc đăng nhập với</p>
                <div class = "login-logo my-0">
                  <a class = "google-logo mx-2" href = "/api/auth/google">
                    <i class="fa-brands fa-square-google-plus"></i>
                  </a>  
                  <a class = "fb-logo mx-2" href = "/api/auth/facebook">
                    <i class="fa-brands fa-square-facebook"></i>
                  </a> 
                </div>
              </div>

              <div class="enter-email-form" style = "display: none">
                <div class="form-group">
                  <label for="enter-email">Nhập email</label>
                  <input type="email" class="form-control" id="enter-email" >
                </div>
                <div class = "button-group">
                  <button type="button" class="btn style2-button">Quay lại</button>
                  <button type="button" class="btn style1-button">Xác nhận</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script type = "text/javascript" src="../../public/js/CanBo/login.js"></script>

</body>
</html>



